<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMTCZzeauBog0nqFrtzPxxhSUmEPg-GyA</string>
	<key>GCM_SENDER_ID</key>
	<string>664883077975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter32OuaAppJam24</string>
	<key>PROJECT_ID</key>
	<string>ouaappjam24</string>
	<key>STORAGE_BUCKET</key>
	<string>ouaappjam24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664883077975:ios:2378f84a84c577ccb05412</string>
</dict>
</plist>